	<footer>
		<p>Made with <i class="fa fa-heart" aria-hidden="true"></i> for <i class="fa fa-music" aria-hidden="true"></i> by <a href="https://github.com/gcort7" class="text-white">@gcort7</a> | © 2021-present Giovanni Cortés. All Rights Reserved</p>
	</footer>
</html>