<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Audio Splitter</title>
		<link rel="icon" type="image/png" href="images/favicon.png">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/spinner-wrapper.css">
		<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
	</head>
	<body> 
		<div class="vimeo-wrapper" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1500" data-aos-offset="0">
		   <iframe title="video-background" src="https://player.vimeo.com/video/368062320?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<a class="toggle-mode" onclick="lightMode()" title="toggle-mode" data-aos="zoom-out" data-aos-delay="100" data-aos-duration="200"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
		<div id="description" class="cover">
		  <div class="hero">
			<div data-aos="zoom-out" data-aos-easing="linear" data-aos-delay="300" data-aos-duration="400">
			  <a href="#splitter" title="splitter"><div class="logo"> </div></a>
			</div>
			<div data-aos="fade-up" data-aos-easing="ease"  data-aos-delay="700" data-aos-duration="400">
			  <h1>Audio Splitter</h1>
			</div>
			<div data-aos="fade-up" data-aos-easing="ease"  data-aos-delay="1100" data-aos-duration="400">
			  <p>This is a great tool that allows one to separate a piece of music into its various musical instruments including vocals.<br /> Come and give it a try, it's magic!</p>
			</div>
		  </div>
		  <a href="#splitter" title="splitter" data-aos="fade-up" data-aos-delay="100" data-aos-duration="200"><span></span></a>
		</div>
		<div id="splitter" class="cover">