
<%- include ('./header') -%>
	<h2>How does it work?</h2>
	<p>Audio Splitter is using SPLEETER library which is a state of the art AI library.<br />
		SPLEETER uses machine learning models to separate the musical track of each instrument based on its frequency.</p> 
		<div id="loader" class="center"></div>
		<form id="audio_splitter" method="POST" action="/musicHandler">
			<div class="flex buttons box-style">
				<div class="button" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="200">
					<label>
					<input type="radio" name="stems" value="2stems" />
					<i class="fa fa-circle" aria-hidden="true"></i> 
					<span><b>Vocal and Karaoke</b> <br />(<i class="fa fa-file-audio-o" aria-hidden="true"></i> <small>x2 tracks</small>)</span>
					</label>
				</div>
				<div class="button" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="700" data-aos-duration="200">
					<label>
					<input type="radio" name="stems" value="4stems" />
					<i class="fa fa-circle" aria-hidden="true"></i>
					<span><b>Bass, Drums, Vocal and Others</b> <br />(<i class="fa fa-file-audio-o" aria-hidden="true"></i> <small>x4 tracks</small>)</span>
					</label>
				</div>
				<div class="button" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="900" data-aos-duration="200">
					<label>
					<input type="radio" name="stems" value="5stems" />
					<i class="fa fa-circle" aria-hidden="true"></i>
					<span><b>Piano, Bass, Drums, Vocal and Others</b> <br />(<i class="fa fa-file-audio-o" aria-hidden="true"></i> <small>x5 tracks</small>)</span>
					</label>
				</div>
			</div>
			<p><b>Type the youtube URL for the video you want to process and then submit</b></p>
			<div class="box-style">
				<input class="disable-text" type="text" id="youtube_url" name="youtube_url">
			</div>
			<div>
				<input class="submit-style" id="submit-button" type="submit" value="submit">
			</div>
		</form>
		<p><b>Or drag and drop your file into the dashed area below to upload an audio format file and then click submit.</b></p>
		<form id="my-dropzone" class="dropzone" method="POST" action="/uploadAudio" enctype="multipart/form-data">
		</form>
	</div>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
	<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
	<script src="js/validations.js"></script>
</body>
<%- include ('./footer') -%>
