<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title>Audio splitter</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	</head>
	<body>
		<div id="description">
			<span>
				Audio Splitter
			</span>
		</div>
		<div>
			<form id="uploader" action="/musicHandler" method="post" enctype="multipart/form-data">
				<div>
					<div id="split-options">
						<input type="checkbox" name="stems" value="2stems">
						<label for="stems">Vocal and Karaoke</label>

						<input type="checkbox" name="stems" value="4stems">
						<label for="stems">Bass, Drums, Vocal and Others</label>

						<input type="checkbox" name="stems" value="5stems">
						<label for="stems">Piano, Bass, Drums, Vocal and Others</label>
					</div>
					<div id="drag-area">
						<div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
						<header>Drag & Drop to upload File</header>
						<span>OR</span>
						<input type="file" name="fileselect" id="fileselect"/>
						<button type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<script src="js/dropfiles.js"></script>
	</body>
</html>