<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title>Audio splitter</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
		<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
	</head>
	<body>
		<div id="description">
			<span>
				Audio Splitter
			</span>
		</div>
		<div>
			<form id="my-dropzone" class="dropzone" method="POST" action="/musicHandler" enctype="multipart/form-data">
				<div>
					<div>
						<input type="radio" name="stems" value="2stems">
						<label for="stems">Vocal and Karaoke</label>

						<input type="radio" name="stems" value="4stems">
						<label for="stems">Bass, Drums, Vocal and Others</label>

						<input type="radio" name="stems" value="5stems">
						<label for="stems">Piano, Bass, Drums, Vocal and Others</label>
					</div>
				</div>
			</form>
		</div>
		<script src="js/validations.js"></script>
	</body>
</html>